<div class="container">
  <% if @end_user == current_end_user %>
    <h3 class="mini-title mb-3 text-center">MY PAGE</h3>
    <div class="justify-content-center">
      <%= render 'my_page' %>
    </div>
  <% else %>
    <div class="justify-content-center">
      <%= render 'other_user', end_user: @end_user %>
    </div>
  <% end %>
</div>
