　<div class="nested-fields">
    <%= food.select :food_id, options_from_collection_for_select(Food.all, :id, :name),{prompt: '選択してください'} %>
    <%= food.label :quantity, '×' %>
    <%= food.select :quantity, *[1..10] %>
    <%= link_to_remove_association '削除', food %>
  </div>

