<div class="nested-fields">
    <%= food.select :food_id, options_from_collection_for_select(Food.all, :id, :name),{prompt: '選択してください'}, class: "chosen1" %>
    <%= food.label :quantity, '×' %>
    <%= food.select :quantity, *[1..10] %>
    <%= link_to_remove_association '削除', food , class: "btn" %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
$(function() {
 $(".chosen1").chosen({
    width: "300px",
    no_results_text:"ありません",
    search_contains:true,
    class: "form-control"
  });
});

</script>
