  <div class="link">
      <%= link_to_add_association '追加ボタン', f, :meal_details,
        class: 'add_fields',
        id: 'add-btn',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'after'
          }
        %>
  </div>