<p class="text-center">
  <%= image_tag asset_path('meal_icon.png'), size: "30x30" %>１〜２日前の食事
</p>
<% if search_meals.empty? %>
  <p class="text-center">食事が見当たりません</p>
<% else %>
<div class="selection-group">
  <ul class="text-left">
    <% search_meals.each do |meal| %>
      <li>
        <%= link_to meal_path(meal.id) do  %>
          <i class="fas fa-chevron-circle-right"></i>
        <% end %>
        <%= meal.meal_type_i18n %>
        (
        <% meal.meal_details.each do |meal_detail| %>
          <%= meal_detail.food.name %>
        <% end %>
        )
      </li>
    <% end %>
  </ul>
  </div>
<% end %>
