<div class="container">
  <h3 class="mini-title mb-3 text-center mt-5">
    検索結果(
    <% if params[:q].present? && params[:q][:record_time_gteq].present? %>
      <%= params[:q][:record_time_gteq] %>
    <% end %>
    〜
    <% if params[:q].present? && params[:q][:record_time_lteq_end_of_day].present? %>
      <%= params[:q][:record_time_lteq_end_of_day] %>
    <% end %>
    )
  </h3>
  
  <%= render 'public/meals/index', meals: @results %>
  
  <div class="row justify-content-center"><%= paginate @results %></div>

</div>