<div class="container">
  <%= link_to '<<戻る', diaries_path %>
  <h3 class="mini-title text-center">
    「
      <% if params[:search].present? %>
        <%= params[:search] %>
      <% end %>
    」の検索結果
  </h3>

<%= render 'public/diaries/index', diaries: @diaries %>

</div>
