<div class="container">
  <div class="selection-group">
    <div class="mt-5">
    <h3 class="text-center mt-5">もぐログとは？</h3>
    <div class="text-center" name="about-img"><%= image_tag asset_path('diary.png'), class: "ml-5 mt-5" %></div>
    </div>
    <div class="about-text-bg"></div>
  </div>
</div>