<div class="container">
  <h3 class="text-center">もぐログとは？</h3>
  <div class="selection-group">
    <div class="selection-group">
      <div><%= image_tag asset_path('about-bg.png') , class: "about-responsive"%></div>
    </div>
  </div>
</div>