<!--<div class="container">-->
  

  
<!--  <h1>会員一覧</h1>-->
<!--  <table class="table">-->
<!--    <tr>-->
<!--      <th>氏名</th>-->
<!--      <th>ステータス</th>-->
<!--    </tr>-->
<!--    <%# @end_users.each do |end_user| %>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <%#= link_to admin_end_user_path(end_user) do %>-->
<!--            <%#= end_user.name %>-->
<!--          <%# end %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%# if end_user.is_deleted == true %>-->
<!--            退会済み-->
<!--          <%# else %>-->
<!--            有効-->
<!--          <%# end %>-->
<!--        </td>-->
<!--      </tr>-->
<!--    <%# end %>-->
<!--  </table>-->

<!--</div>-->