<h1>会員一覧</h1>
<% @end_users.each do |end_user| %>
<table>
  <tr>
    <td>
      <%= link_to admin_end_user_path(end_user) do %>
        <%= end_user.name %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
