main {
  margin: 50px auto;
  height: 100%;
}

header {
  background-color: #fff;
  opacity: 0.8;
}

li a {
  color:black;
}

li a:hover {
  color:gray;
}

.box {
  background-color: #FFFFCC;
  border-radius: 30px ;
  margin: 20px auto;
  padding: 30px;
  width:700px;
  height: 300px;
}

.selection-group {
  display: flex;
  justify-content: center;
}

.top-responsive {
  display: none;
}

.responsive-br {
  display: none;
}

.selection-group-top {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.selection-group-top a {
  width: 35%;
  height: 250px;
}

.weight-index{
  display: flex;
  justify-content: center;
}

.weight-icon {
  border-radius: 70px;
  width:150px;
  height:150px;
  background-color: pink;
}

.weight-icon-gray {
  border-radius: 70px;
  width:150px;
  height:150px;
  background-color: lightgray;
}

.condition-icon {
  border-radius: 70px;
  width:250px;
  height:150px;
  background-color: pink;
}

.condition-icon-gray {
  border-radius: 70px;
  width:250px;
  height:150px;
  background-color: lightgray;
}

.weight-text {
  padding-top: 40px;
}

.feel-btn {
  margin: 15px;
  padding: 15px;
  border: 3px solid #000;
  box-sizing: border-box;
  border-radius: 50px;
}

.movement-btn {
  margin: 10px;
  padding: 10px;
  border: 3px solid #000;
  box-sizing: border-box;
  border-radius: 50px;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.calendar-heading {
  text-align: center;
  margin: 30px auto;
}

.calender-text-responsive {
  display: none;
}

.calender-text {
  display: block;
}


.error_explanation {
  font-size: 1rem;
}

.col-xs-10 {
    width: 83.333333%;
}

@media screen and (max-width: 481px){
  main {
    width: 100%;
    height: 100%;
    margin: 10px;
  }

  .selection-group {
  display: block;
  justify-content: center;
  }


  /*トップページ*/
  .selection-group-top {
    display:none;
  }

  .top-responsive{
  display: block;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  }

  .top-responsive a {
    width: 100%;
    margin-bottom: 20px;
  }
  /*トップページ*/

  /*Meal*/
  .meal_responsive {
   margin: 5px auto;
   text-align: center;
  }

  .justify-content-end {
    text-align: center;
  }

  .meal_responsive-btn {
    margin: 10px 0;
  }

  /*Meal*/

  /*Weight*/
  .weight-index {
    display: block;
    text-align: center;
  }

  .weight-responsive {
    margin: 20px auto;

  }

  .responsive-br {
    display: block;
  }
  /*Weight*/

  /*Health*/
  .health-responsive {
    margin: 20px auto;
  }

  .movement-btn, .feel-btn {
    margin: 10px auto;
    width: 250px;
  }

  .calender-text-responsive {
    display: block;
  }

  .calender-text {
    display: none;
  }
  /*Health*/

  /*Diary*/
  .diary-responsive {
    margin: 10px;
  }

  .box {
    width: 100%;
    margin: 10px auto;
  }
  /*Diary*/

  .end_user-responsive {
    margin-bottom: 20px;
  }

  .about-responsive {
    width: 90%;
  }

}
